main > .title {
    margin: 0;
    font-size: 26px;

    width: 100%;
}

main > .title > span {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.box_container {
    position: relative;

    width: 400px;
    height: 400px;

    margin-top: 15px;
    margin-right: 15px;

    float: left;
    
    /* border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05); */

    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
}

.box_container {
    padding: 20px;
    height: auto;
}

.box_container > h2 {
    margin: 0;
}

.channel > .box_title {
    font-size: 18px;
    font-weight: 500;

    margin: 0;
    margin-top: 16px;
    margin-bottom: 10px;

    padding-bottom: 6px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.channel > .subscribe > div > .count {
    font-size: 40px;
    font-weight: 800;
}

.channel > .subscribe > div > .count_sub {
    font-size: 18px;
    font-weight: 400;
    color: gray;

    margin-left: 5px;
}


.channel > .subscribe > .show_btn {
    background-color: transparent;
    
    margin-left: -5px;
    padding: 7px 10px;

    font-size: 13px;
    font-weight: 400;
    
    color: rgb(154, 154, 154);

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.channel > .subscribe > .show_btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

.line {
    display: flex;
    align-items: center;

    width: 100%;
}

.line > span {
    font-size: 17px;
    font-weight: 500;
}

.line > div {
    flex-grow: 1;
    
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    
    margin-left: 15px;
}

.recommand_video {
    width: 450px;
}

.recommand_video > h2 {
    margin-bottom: 10px;
}

.recommand_video > .emptyT {
    font-size: 14px;
    font-weight: 400;

    color: gray;
}

.recommand_video > .line:not(:first-child) {
    /* margin: 10px 0; */
    margin-top: 30px;
    margin-bottom: 10px;
}

.recommand_video > .video_box {
    width: 100%;
    height: 60px;

    display: flex;

    cursor: pointer;
}

.recommand_video > .video_box:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.recommand_video > .video_box > .thumbnail_container {
    aspect-ratio: 16/9;
    height: 100%;
    
    border-radius: 5px;
    overflow: hidden;

    flex-shrink: 0;
}

.recommand_video > .video_box > .thumbnail_container > img {
    width: 100%;
    height: 100%;
}

.recommand_video > .video_box > .info {
    margin-left: 8px;
}

.recommand_video > .video_box > .info > .title {
    font-size: 17px;
    font-weight: 500;
}

.recommand_video > .video_box > .info > .sub {
    font-size: 13px;
    font-weight: 400;

    color: rgb(172, 172, 172);
}

.recommand_video > a > .redirect {
    margin-top: 20px;

    border-radius: 3px;
    padding: 8px 13px;
    margin-left: -6.5px;

    background-color: transparent;
    border: none;

    color: rgb(57, 103, 255);

    cursor: pointer;
}

.recommand_video > a > .redirect:hover {
    color: rgb(79, 120, 255);
    background-color: rgba(255, 255, 255, 0.1);
}

.comment_status {
    width: 500px;
}

.comment_status > .comment {
    display: flex;
    align-items: center;

    height: max-content;

    margin-top: 10px;
}

.comment_status > .comment > .icon {
    width: 45px;
    height: 45px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
}

.comment_status > .comment > .thumbnail_container {
    position: relative;

    aspect-ratio: 16/9;

    width: 100px;

    margin-left: auto;

    flex-shrink: 0;

    cursor: pointer;
}

.comment_status > .comment > .thumbnail_container > img {
    width: 100%;
    height: 100%;

    border-radius: 3px;
}

.comment_status > .comment > .thumbnail_container > span {
    position: absolute;

    width: max-content;

    top: -20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 13px;
    background-color: rgb(69, 69, 69);
    
    padding: 4px 10px;
    border-radius: 3px;

    display: none;
}

.comment_status > .comment > .thumbnail_container:hover > span {
    display: block;
}

.comment_status > .comment > .detail {
    margin-left: 10px;
}

.comment_status > .comment > .detail > .name {
    font-weight: 500;
    font-size: 16px;

    color: rgb(188, 188, 188);

    display: flex;
    align-items: center;
}

.comment_status > .comment > .detail > .name > .date {
    color: gray;
    font-weight: 400;
    font-size: 13px;

    margin-left: 5px;
}

.comment_status > .comment > .detail > .content {
    font-size: 14px;
    font-weight: 400;
}

.comment_status > .comment > .detail > .reply {
    font-size: 13px;
    font-weight: 00;
    color: gray;

    margin-top: 3px;
}