main > .header {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

main > .header > .title {
    margin: 0;
    /* margin-bottom: 5px; */
}

main > .header > .createBtn {
    display: flex;
    align-items: center;
    
    color: white;
    font-size: 14px;

    padding: 4px 12px;

    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 20px;

    cursor: pointer;
}

main > .header > .createBtn:hover {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.0) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 60%) no-repeat;
    background-color: rgba(255, 255, 255, 0.15);

    animation-name: diagonalMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes diagonalMove {
    from {
        background-position-x: -70px;
    }
    to {
        background-position-x: 100px;
    }
}

main > .header > .createBtn > img {
    width: 25px;
    margin-right: 5px;
}

.filter {
    position: sticky;

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    
    padding: 6px 15px;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 50px;
}

.filter > .title {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    color: rgb(210, 210, 210);
    font-size: 16px;
}

.filter > .title > img {
    width: 20px;
    margin-right: 5px;
}

.filter > .list {
    display: flex;
    align-items: center;

    overflow-x: auto;
    flex-wrap: nowrap;

    margin-left: 10px;
    font-size: 15px;

    height: 100%;

    flex-grow: 1;
}

.filter > .list > .box {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    height: 100%;
    padding: 0 10px;

    border-radius: 30px;

    color: white;
    font-size: 13px;
    font-weight: 400;

    background-color: rgb(100, 100, 100);
}

.filter > .list > .box:not(:first-child) {
    margin-left: 5px;
}

.filter > .list > .box:hover {
    background-color: rgb(134, 134, 134);
}

.filter > .list > .box > img {
    width: 20px;
    margin-left: 2px;

    cursor: pointer;

    opacity: 0.6;
}

.filter > .list > .box:hover > img {
    opacity: 1;
}

.table_header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 25px;

    display: flex;
    align-items: center;

    margin-top: 10px;
}

.table_header > div {
    height: 100%;
    
    display: flex;
    align-items: center;
    
    font-size: 14px;
}

.table_header > div:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 15px;
}

.table_content {
    width: 100%;
    height: max-content;
}

.table_content > .box {
    width: 100%;
    height: 80px;

    margin-top: 10px;
    padding: 7px 0;

    display: flex;
}

.table_content > .box:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.table_content > .box > .video {
    display: flex;
}

.table_content > .box > .video > .thumbnail {
    position: relative;

    aspect-ratio: 16/9;
    height: 100%;

    border-radius: 3px;
    overflow: hidden;
}

.table_content > .box > .video > .thumbnail > img {
    width: 100%;
    height: 100%;
}

.table_content > .box > .video > .thumbnail > span {
    position: absolute;
    
    right: 5px;
    bottom: 5px;

    padding: 3px 4px;
    border-radius: 3px;

    font-size: 11px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.table_content > .box > .video > .detail {
    margin-left: 10px;
}

.table_content > .box > .video > .detail > .title {
    font-size: 16px;
    font-weight: 600;
}

.table_content > .box > .video > .detail > .desc {
    font-size: 13px;
    font-weight: 400;
    
    color: rgb(185, 185, 185);
}

.table_content > .box > .secret {
    font-size: 14px;
    height: max-content;

    display: flex;
    /* align-items: center; */
}

.table_content > .box > .secret > img {
    margin-right: 5px;
    opacity: 0.5;
    
    margin-top: -5px;
    height: 28px;
}

.table_content > .box > .good {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table_content > .box > .good > .text {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.table_content > .box > .good > .sub {
    font-size: 13px;
    color: gray;
}

.table_content > .box > .good > .bar {
    width: 100%;
    height: 5px;
    margin-top: 3px;
    
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;

    overflow: hidden;
}

.table_content > .box > .good > .bar > .barIn {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.table_content > .box > div:not(:first-child) {
    padding-left: 15px;
}

.table_header > div:nth-child(1),
    .table_content > .box > div:nth-child(1) {
    width: 5%;
}

.table_header > div:nth-child(2),
.table_content > .box > div:nth-child(2) {
    width: 35%;
}

.table_header > div:nth-child(3),
.table_content > .box > div:nth-child(3) {
    width: 10%;
}

.table_header > div:nth-child(4),
.table_content > .box > div:nth-child(4) {
    width: 10%;
}

.table_header > div:nth-child(5),
.table_content > .box > div:nth-child(5) {
    width: 20%;
}

.table_header > div:nth-child(6),
.table_content > .box > div:nth-child(6) {
    width: 10%;
}

.table_header > div:nth-child(7),
.table_content > .box > div:nth-child(7) {
    width: 10%;
}

.page {
    display: flex;
    align-items: center;
    width: max-content;
    
    margin: 0 auto;
}

.page > Button {
    padding: 0;
    
    width: 40px;
    height: 40px;
    padding: 6px;
    
    border: none;
    border-radius: 50%;
    
    background-color: transparent;
    cursor: pointer;
}

.page > Button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.page > Button > img {
    width: 100%;
    height: 100%;
    
    opacity: 0.5;
}

.page > Button.flip > img {
    transform: rotateY(180deg);
}

.page > Button:hover > img {
    opacity: 1;
}

.page > .text {
    font-size: 15px;
    font-weight: 300;
    color: rgb(200, 200, 200);

    margin: 0 10px;
}

.page > .text > span {
    color: white;
    font-size: 25px;
    font-weight: 600;

    margin-right: 3px;
}

/* 업로드 dialog */
.dialog {
    position: fixed;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 2;
}

.dialog > .box {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
    height: 650px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
    background-color: rgb(40, 40, 40);

    display: flex;
    flex-direction: column;
}

.dialog > .box > .header {
    width: 100%;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    flex-shrink: 0;
}

.dialog > .box > .header > h2 {
    margin: 0;
}

.dialog > .box > .header > .close {
    width: 40px;
    height: 40px;

    padding: 5px;
    border-radius: 50%;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.dialog > .box > .header > .close > img {
    width: 100%;
    height: 100%;
}

.dialog > .box > .header > .close:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dialog > .box > .bar {
    position: relative;

    width: 50%;
    height: 3px;

    background-color: white;

    flex-shrink: 0;
}

.dialog > .box > .bar > span {
    position: absolute;

    top: 7px;
    left: 100%;
    transform: translateX(-50%);

    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 13px;
    
    border-radius: 10px;
}

.dialog > .box > main {
    flex-grow: 1;
    
    padding: 10px;
}



.dialog > .box > main.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog > .box > main.upload > .icon {
    width: 150px;
    
    padding: 30px;
    border-radius: 50%;
    background: linear-gradient(rgb(183, 223, 165) 0%, rgb(137, 228, 109) 60%) no-repeat;
}

.dialog > .box > .upload > .title {
    font-size: 25px;
    font-weight: bold;

    margin-top: 15px;
}

.dialog > .box > .upload > .fileSelect {
    padding: 5px 10px;
    margin-top: 5px;
    
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    cursor: pointer;
}

.dialog > .box > .upload > .fileSelect:hover {
    border-color: rgba(255, 255, 255, 0.2);
}

.dialog > .box > .upload_detail {
    display: flex;
}

.dialog > .box > .upload_detail > .property {
    flex-grow: 1;
    /* border: 1px solid red; */
}

.dialog > .box > .upload_detail > .property > .description {
    margin-top: 20px;
}

.dialog > .box > .upload_detail > .property > .title {
    font-size: 18px;
    font-weight: 600;

    margin-top: 10px;
}

.dialog > .box > .upload_detail > .property > .thumbnail_section {
    display: flex;
    align-items: center;
}

.dialog > .box > .upload_detail > .property > .thumbnail_section > .preview {
    width: 220px;
    height: 115px;
    
    border-radius: 5px;
    margin-left: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.dialog > .box > .upload_detail > .property > .thumbnail_section > .upload {
    width: 240px;
    height: 135px;
    margin-top: 5px;

    border: 2px dashed rgba(255, 255, 255, 0.2);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog > .box > .upload_detail > .property > .thumbnail_section > .upload > img {
    height: 50px;
}

.dialog > .box > .upload_detail > .property > .thumbnail_section > .upload > div {
    font-size: 13px;
    margin-top: 5px;
    color: rgb(183, 183, 183);
}

.dialog > .box > .upload_detail > .property > .secret {
    font-size: 15px;
    padding: 5px;
    margin-top: 5px;

    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;

    background-color: rgb(40, 40, 40);
}

.dialog > .box > .upload_detail > .save {
    position: absolute;
    right: 13px;
    bottom: 13px;

    border: none;
    padding: 8px 18px;
    font-size: 15px;

    color: white;
    font-weight: 500;

    border-radius: 3px;
    background-color: rgb(74, 153, 214);

    cursor: pointer;
}

.dialog > .box > .upload_detail > .save:hover {
    background-color: rgb(57, 131, 188);
}

.inputContainer {
    position: relative;

    width: max-content;
    height: max-content;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;

    margin-top: 6px;
}

.inputContainer > .title {
    position: absolute;
    top: 0;
    left: 6px;
    transform: translateY(-50%);
    background-color: #282828;
    padding: 0 5px;

    color: rgb(200, 200, 200);
    font-size: 14px;
}

.inputContainer > input {
    /* width: 100%;
    height: 100%; */
    width: 500px;
    height: 43px;

    border: none;
    outline: none;
    background-color: transparent;
    
    font-size: 15px;
    color: white;
    
    padding: 10px;
}

.inputContainer > textarea {
    width: 500px !important;
    height: 200px !important;

    padding: 10px;

    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.dialog > .box > .upload_detail > .video {
    width: 280px;
    height: max-content;
    


    /* border: 1px solid blue; */
    /* background-color: black; */
    margin-left: 10px;
    padding-bottom: 10px;

    background-color: rgba(255, 255, 255, 0.05);
}

.dialog > .box > .upload_detail > .video > .thumbnail_container {
    aspect-ratio: 16/9;
    width: 100%;

    /* background-color: white; */
    background-color: rgb(30, 30, 30);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog > .box > .upload_detail > .video > .thumbnail_container > .text {
    color: gray;
    font-size: 13px;
}

.dialog > .box > .upload_detail > .video > .subT {
    color: gray;
    padding: 0 10px;
    margin-top: 10px;

    font-size: 14px;
}

.dialog > .box > .upload_detail > .video > .mainT {
    padding: 0 10px;
    font-size: 15px;
}