main > .title {
    margin: 0;
    margin-bottom: 5px;
}

.filter {
    position: sticky;

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    
    padding: 6px 15px;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 50px;
}

.filter > .title {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    color: rgb(210, 210, 210);
    font-size: 16px;
}

.filter > .title > img {
    width: 20px;
    margin-right: 5px;
}

.filter > .list {
    display: flex;
    align-items: center;

    overflow-x: auto;
    flex-wrap: nowrap;

    margin-left: 10px;
    font-size: 15px;

    height: 100%;

    flex-grow: 1;
}

.filter > .list > .box {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    height: 100%;
    padding: 0 10px;

    border-radius: 30px;

    color: white;
    font-size: 13px;
    font-weight: 400;

    background-color: rgb(100, 100, 100);
}

.filter > .list > .box:not(:first-child) {
    margin-left: 5px;
}

.filter > .list > .box:hover {
    background-color: rgb(134, 134, 134);
}

.filter > .list > .box > img {
    width: 20px;
    margin-left: 2px;

    cursor: pointer;

    opacity: 0.6;
}

.filter > .list > .box:hover > img {
    opacity: 1;
}

.table_header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 25px;

    display: flex;
    align-items: center;

    margin-top: 10px;
}

.table_header > div {
    height: 100%;
    
    display: flex;
    align-items: center;
    
    font-size: 14px;
}

.table_header > div:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 15px;
}

.table_header > div:nth-child(1) {
    width: 5%;
}

.table_header > div:nth-child(2) {
    width: 30%;
}

.table_header > div:nth-child(3) {
    width: 10%;
}

.table_header > div:nth-child(4) {
    width: 10%;
}

.table_header > div:nth-child(5) {
    width: 10%;
}

.table_header > div:nth-child(6) {
    width: 10%;
}

.table_header > div:nth-child(7) {
    width: 25%;
}

.table_content {
    
}

.table_content > .box {
}