main > .title {
    margin: 0;
    margin-bottom: 5px;
}

.filter {
    position: sticky;

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    
    padding: 6px 15px;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 50px;
}

.filter > .title {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    color: rgb(210, 210, 210);
    font-size: 16px;
}

.filter > .title > img {
    width: 20px;
    margin-right: 5px;
}

.filter > .list {
    display: flex;
    align-items: center;

    overflow-x: auto;
    flex-wrap: nowrap;

    margin-left: 10px;
    font-size: 15px;

    height: 100%;

    flex-grow: 1;
}

.filter > .list > .box {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    height: 100%;
    padding: 0 10px;

    border-radius: 30px;

    color: white;
    font-size: 13px;
    font-weight: 400;

    background-color: rgb(100, 100, 100);
}

.filter > .list > .box:not(:first-child) {
    margin-left: 5px;
}

.filter > .list > .box:hover {
    background-color: rgb(134, 134, 134);
}

.filter > .list > .box > img {
    width: 20px;
    margin-left: 2px;

    cursor: pointer;

    opacity: 0.6;
}

.filter > .list > .box:hover > img {
    opacity: 1;
}

.table_header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 25px;

    display: flex;
    align-items: center;

    margin-top: 10px;
}

.table_header > div {
    height: 100%;
    
    display: flex;
    align-items: center;
    
    font-size: 14px;
}

.table_header > div:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 15px;
}

.table_content {
    width: 100%;
    height: max-content;
}

.table_content > .box {
    width: 100%;
    height: 80px;

    margin-top: 10px;
    padding: 7px 0;

    display: flex;
}

.table_content > .box:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.table_content > .box > .video {
    display: flex;
}

.table_content > .box > .video > .thumbnail {
    position: relative;

    aspect-ratio: 16/9;
    height: 100%;

    border-radius: 3px;
    overflow: hidden;
}

.table_content > .box > .video > .thumbnail > img {
    width: 100%;
    height: 100%;
}

.table_content > .box > .video > .thumbnail > span {
    position: absolute;
    
    right: 5px;
    bottom: 5px;

    padding: 3px 4px;
    border-radius: 3px;

    font-size: 11px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.table_content > .box > .video > .detail {
    margin-left: 10px;
}

.table_content > .box > .video > .detail > .title {
    font-size: 16px;
    font-weight: 600;
}

.table_content > .box > .video > .detail > .desc {
    font-size: 13px;
    font-weight: 400;
    
    color: rgb(185, 185, 185);
}

.table_content > .box > .secret {
    font-size: 14px;
    height: max-content;

    display: flex;
    /* align-items: center; */
}

.table_content > .box > .secret > img {
    margin-right: 5px;
    opacity: 0.5;
    
    margin-top: -5px;
    height: 28px;
}

.table_content > .box > .good {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table_content > .box > .good > .text {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.table_content > .box > .good > .sub {
    font-size: 13px;
    color: gray;
}

.table_content > .box > .good > .bar {
    width: 100%;
    height: 5px;
    margin-top: 3px;
    
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;

    overflow: hidden;
}

.table_content > .box > .good > .bar > .barIn {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.table_content > .box > div:not(:first-child) {
    padding-left: 15px;
}

.table_header > div:nth-child(1),
    .table_content > .box > div:nth-child(1) {
    width: 5%;
}

.table_header > div:nth-child(2),
.table_content > .box > div:nth-child(2) {
    width: 35%;
}

.table_header > div:nth-child(3),
.table_content > .box > div:nth-child(3) {
    width: 10%;
}

.table_header > div:nth-child(4),
.table_content > .box > div:nth-child(4) {
    width: 10%;
}

.table_header > div:nth-child(5),
.table_content > .box > div:nth-child(5) {
    width: 20%;
}

.table_header > div:nth-child(6),
.table_content > .box > div:nth-child(6) {
    width: 10%;
}

.table_header > div:nth-child(7),
.table_content > .box > div:nth-child(7) {
    width: 10%;
}