.main {
    display: flex;
    justify-content: center;

    padding: 0 10px;
}

.main > .video_container {
    flex-grow: 1;

    max-width: 1000px;
    height: max-content;

    /* border: 1px solid red; */
}

.main > .video_container > .title {
    font-size: 20px;
    margin: 10px 0;
}

.main > .video_container > .metadata {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.main > .video_container > .metadata > .channel {
    display: flex;
    align-items: center;
}

.main > .video_container > .metadata > .channel > a > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.main > .video_container > .metadata > .channel > .texts {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.main > .video_container > .metadata > .channel > .texts > span:nth-child(1) {
    font-size: 16px;
}

.main > .video_container > .metadata > .channel > .texts > span:nth-child(2) {
    font-size: 12px;
    font-weight: 300;

    color: rgb(196, 196, 196);
}

.main > .video_container > .metadata > .channel > .subscribe {
    margin-left: 20px;
}

.main > .video_container > .metadata > .interactions {
    display: flex;
    align-items: center;
    
    gap: 0 10px;
}

.main > .video_container > .metadata > .interactions > button {
    display: flex;
    align-items: center;

    padding: 5px 10px;
    border-radius: 20px;
    border: none;

    font-size: 13px;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.1);
}

.main > .video_container > .metadata > .interactions > button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main > .video_container > .metadata > .interactions > button > img {
    margin-right: 5px;
}

.main > .video_container > .metadata > .interactions >  .rating {
    display: flex;
    
    height: 34px;
    border-radius: 20px;
    overflow: hidden;

    /* padding: 5px 10px; */

    background-color: rgba(255, 255, 255, 0.1);
}

.main > .video_container > .metadata > .interactions >  .rating > button {
    background-color: transparent;
    border: none;

    display: flex;
    align-items: center;

    padding: 5px 10px;

    font-size: 13px;

    cursor: pointer;
}

.main > .video_container > .metadata > .interactions >  .rating > button:nth-child(1) {
    padding-right: 5px;
}

.main > .video_container > .metadata > .interactions >  .rating > button:nth-child(2) {
    padding-left: 5px;
}

.main > .video_container > .metadata > .interactions >  .rating > button:nth-child(2) > img {
    transform: rotateZ(180deg);
}

.main > .video_container > .metadata > .interactions >  .rating > button > img {
    margin-right: 5px;

    width: 20px;
    height: 20px;
}

.main > .video_container > .metadata > .interactions >  .rating > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main > .video_container > .metadata > .interactions >  .rating > button.active {
    background-color: rgba(114, 223, 25, 0.2);
}

.main > .video_container > .metadata > .interactions >  .rating > button.active > img {
    filter: drop-shadow(0 0 2px rgba(255,255,255,0.8));
}

.main > .video_container > .metadata > .interactions >  .rating > button.active:hover {
    background-color: rgba(114, 223, 25, 0.3);
}

.main > .video_container > .desc {
    position: relative;
    
    width: 100%;
    height: max-content;
    padding: 10px;
    margin-top: 13px;

    background-color: rgba(255, 255, 255, 0.05);

    border-radius: 15px;
}

.main > .video_container > .desc > .info {
    gap: 0 10px;
    display: flex;
}

.main > .video_container > .desc > .info > span {
    font-size: 15px;
}

.main > .video_container > .desc > .content {
    white-space: pre;
    font-size: 13px;


    /* margin-top: 5px; */
}

.main > .video_container > .chat_header {
    margin-top: 30px;

    font-size: 20px;
    font-weight: 600;
}

.main > .video_container > .userBox {
    display: flex;
    align-items: center;
}

.main > .video_container > .userBox > .userIcon {
    width: 40px;
    height: 40px;

    margin-right: 10px;
    
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.myInput {
    align-items: initial;
    margin-top: 15px;
    margin-bottom: 30px;
}

.myInput.replyInput {
    padding-left: 50px;
    margin-top: 0;
}

.myInput.replyInput > img {
    display: none;
}

.myInput > div {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.myInput > div > input {
    outline: none;

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    
    font-size: 15px;
    padding: 5px 0;
    
    transition: border 250ms;
}

.myInput > div > input:focus {
    border-color: rgba(255, 255, 255, 0.5);
}

.myInput > div > section {
    margin-top: 10px;
    margin-left: auto;
    
    display: flex;
    
    gap: 0 5px;
}

.myInput > div > section > .send {
    width: max-content;
    height: max-content;

    padding: 7px 18px;
    border-radius: 30px;
    border: none;

    background-color: rgba(255, 255, 255, 0.1);

    cursor: pointer;
}

.myInput > div > section > .send:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.myInput > div > section > .close {
    width: max-content;
    height: max-content;

    padding: 7px 18px;
    border-radius: 30px;
    border: none;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);

    cursor: pointer;
}

.myInput > div > section > .close:hover {
    background: rgba(255,255,255,0.05);
}

.main > .video_container > .userChat {
    align-items: initial;
    margin: 10px 0;
}

.main > .video_container > .userChat.reply {
    padding-left: 50px;
}

.main > .video_container > .userChat.reply > img {
    width: 30px;
    height: 30px;
}

.main > .video_container > .userChat > section {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.main > .video_container > .userChat > section > main > .detail {
    font-size: 14px;

    margin-bottom: 3px;
}

.main > .video_container > .userChat > section > main > .detail > span:nth-child(1) {
    font-weight: 600;
}

.main > .video_container > .userChat > section > main > .detail > span:nth-child(2) {
    color: gray;

    font-size: 13px;
    font-weight: 400;

    margin-left: 5px;
}

.main > .video_container > .userChat > section > main > .content {
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.main > .video_container > .userChat > section > main > .interacte {
    display: flex;
    align-items: center;
}

.main > .video_container > .userChat > section > main > .interacte > button {
    padding: 5px 8px;
    
    border-radius: 30px;
    border: none;
    background: none;

    cursor: pointer;
}

.main > .video_container > .userChat > section > main > .interacte > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main > .video_container > .userChat > section > main > .interacte > button > img {
    width: 20px;
    height: 20px;
}

.main > .video_container > .userChat > section > main > .interacte > span {
    font-size: 13px;

    margin-right: 5px;
}

.main > .video_container > .userChat > section > main > .interacte > .reply {
    padding: 6px 13px;
}

.main > .video_container > .userChat > section > main > .reply {
    padding: 6px 13px;
    border-radius: 30px;
    border: none;

    margin-left: -3px;
    
    color: rgb(0, 140, 255);
    font-size: 14px;
    font-weight: 600;

    background: none;
    cursor: pointer;
}

.main > .video_container > .userChat > section > main > .reply:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main > .video_container > .userChat > section > .other {
    height: max-content;
    border-radius: 30px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    padding: 0;

    background: none;
    cursor: pointer;

    visibility: hidden;
}

.main > .video_container > .userChat:hover > section > .other {
    visibility: initial;
}

.main > .video_container > .loading {
    margin: 10px auto;

    opacity: 0.5;
    scale: 0.5;
}

.main > .recommand_container {
    width: 400px;
    /* border: 1px solid green; */

    margin-left: 20px;

    flex-shrink: 0;
    /* gap: 10px 0; */
}

.main > .recommand_container > div:not(:first-child) {
    margin-top: 3px;
}

/* 비디오 플레이어 */

.video_player {
    position: relative;

    /* width: 672px;
    height: 378px; */
    aspect-ratio: 16 / 9;
}

.video_player > .player {
    width: 100% !important;
    height: 100% !important;
}

.video_player > .control_main {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: opacity 250ms;
}

.video_player > .control_main.hide {
    opacity: 0;
}

.video_player > .control_main > .bottom {
    width: 100%;
    height: max-content;

    padding: 0 10px;

    /* background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); */
    background: linear-gradient(to top, rgba(26, 110, 0, 0.5) 0%, rgba(0,0,0,0) 100%);
}

.video_player > .control_main > .bottom > .bar_container {
    width: 100%;
    height: 15px;
    cursor: pointer;
    
    display: flex;
    flex-direction: column-reverse;
}

.video_player > .control_main > .bottom > .bar_container > .bar {
    position: relative;
    
    width: 100%;
    height: 3px;
    
    background-color: rgba(255, 255, 255, 0.35);

    transition: height 250ms;
}

.video_player > .control_main > .bottom > .bar_container > .bar.zoom {
    height: 5px;
}

.video_player > .control_main > .bottom > .bar_container > .bar > .in,
.video_player > .control_main > .bottom > .bar_container > .bar > .load {
    position: absolute;
    
    top: 0;
    left: 0;
    
    width: 30%;
    height: 100%;
}

.video_player > .control_main > .bottom > .bar_container > .bar > .in {
    background-color: #78B94E;
}

.video_player > .control_main > .bottom > .bar_container > .bar > .inCircle {
    position: absolute;

    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

    background-color: #78B94E;

    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.video_player > .control_main > .bottom > .bar_container > .bar > .load {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
}

.video_player > .control_main > .bottom > .control_buttons {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.video_player > .control_main > .bottom > .control_buttons > div {
    display: flex;
}

.video_player > .control_main > .bottom > .control_buttons > div > .control_btn {
    position: relative;

    width: 40px;
    height: 40px;

    padding: 0;
    margin: 0;

    cursor: pointer;

    background-color: transparent;
    border: none;
}

.video_player > .control_main > .bottom > .control_buttons > div > .control_btn > img {
}

.video_player > .control_main > .bottom > .control_buttons > div > .control_btn > span {
    position: absolute;
    display: none;

    width: max-content;

    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 13px;

    border-radius: 5px;
    padding: 3px 8px;
    background-color: rgba(43, 43, 43, 0.5);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(5px);
}

.video_player > .control_main > .bottom > .control_buttons > div > .control_btn:hover > span {
    display: block;
}

.video_player > .control_main > .bottom > .control_buttons > div > .timer {
    font-size: 13px;
    line-height: 40px;

    margin-left: 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}