.main {
    display: flex;
    justify-content: center;

    padding: 0 10px;
}

.main > .video_container {
    flex-grow: 1;

    max-width: 1000px;
    height: max-content;



    border: 1px solid red;
}

.main > .recommand_container {
    width: 350px;
    border: 1px solid green;

    flex-shrink: 0;
}

.video_player {
    position: relative;

    width: 672px;
    height: 378px;
}

.video_player > .player {
    width: 100% !important;
    height: 100% !important;
}

.video_player > .control_main {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video_player > .control_main > .bottom {
    width: 100%;
    height: 100px;

    padding: 0 10px;

    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.video_player > .control_main > .bottom > .bar {
    position: relative;
    
    width: 100%;
    height: 3px;
    
    background-color: rgba(255, 255, 255, 0.5);
}