.side {
    position: relative;

    width: 230px;

    margin-top: 10px;
}

.side.short {
    width: 100px;
}

.side.fixed {
    position: absolute;
    left: -250px;

    height: calc(100% - 56px);

    margin: 0;
    background-color: #141517;
}

.side > a {
    text-decoration-line: none;
}

.side > a > .menu {
    width: calc(100% - 30px);
    height: 40px;

    display: flex;
    align-items: center;

    margin: 0 auto;
    padding: 8px;
    
    border-radius: 8px;
    background-color: transparent;
    border: none;
    
    cursor: pointer;
    
    font-size: 14px;
    text-align: left;
}

.side.short > a > .menu {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.side.short > a > .menu > img {
    margin: 0;
    margin-bottom: 5px;
}

.side > a > .menu:hover,
.side > a > .menu.active {
    background-color: rgba(255, 255, 255, 0.08);
}

.side > a > .menu.active:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

.side > a > .menu > img {
    margin-right: 20px;
}

.side > a > .channel > img {
    width: 25px;
    height: 25px;

    border-radius: 50%;
    overflow: hidden;
}

.side > .line {
    width: calc(100% - 30px);
    height: 0.5px;

    margin: 10px auto;

    background-color: rgba(255, 255, 255, 0.2);
}

.side > .title {
    margin: 0 15px;

    font-size: 16px;
}