.main {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}

.main > .videoBox {
    height: 200px;
}

.main > .videoBox > div:nth-child(1) {
    width: initial;
    height: 185px;
}

.main > .videoBox > div:nth-child(2) > div {
    margin-left: 10px;
}

.main > .videoBox > div:nth-child(2) > div > div:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.channelBox {
    display: flex;
    align-items: center;

    height: 150px;
    
    /* border: 1px solid red; */
}

.channelBox > .icon_container {
    flex-basis: 300px;
}

.channelBox > .icon_container > img {
    width: 120px;
    height: 120px;
    
    display: block;
    margin: 0 auto;
}

.channelBox > .info {
    /* flex-shrink: 1; */
    flex-grow: 1;
    flex-basis: 500px;
}

.channelBox > .info > .title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.channelBox > .info > div {
    font-size: 13px;
    color: rgb(200, 200, 200);
}

.channelBox > .subscribe {
    flex-shrink: 0;
}