.content {
    margin-top: 8px;
    font-size: 15px;
}

.videoTitle {
    margin: 0;
    margin-bottom: 8px;
}

.list {
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.list > .box {
    width: 32.333%;
    height: auto;
}

@media screen and (max-width: 900px) {
    .list > .box {
        width: 48.33%;
        height: auto;
    }
}

@media screen and (min-width: 1300px) {
    .list > .box {
        width: 24.1%;
        height: auto;
    }
}