.content {
    margin-top: 8px;
    font-size: 15px;
}

.videoTitle {
    margin: 0;
}

.list {
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.list > .box {
    width: 32.333%;
    height: auto;
}