.headWrapper {
    position: relative;
    
    width: 100%;
    height: max-content;

    padding: 0 15px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.headWrapper > .head {
    width: 100%;
    max-width: 1300px;
    height: 100%;

    /* display: block; */
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.headWrapper > .head > .info {
    display: flex;
    align-items: center;

    /* flex-grow: 1; */

    margin: 25px 0;
}

.headWrapper > .head > .info > .image {
    width: 90px;
    height: 90px;

    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.05);
}

.headWrapper > .head > .info > .texts {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.headWrapper > .head > .info > .texts > .title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
}

.headWrapper > .head > .info > .texts > .sub {
    font-size: 14px;
    color: rgb(156, 156, 156);
}

.headWrapper > .head > .info > .subscribe {
    padding: 7px 15px;
    border-radius: 50px;
    border: none;

    font-size: 15px;
    font-weight: bold;

    display: flex;
    align-items: center;

    margin-left: auto;

    color: black;
    background-color: rgba(0,255,163,.9);

    gap: 0 3px;

    cursor: pointer;
}

.headWrapper > .head > .info > .subscribe:hover {
    background-color: rgba(0,255,163,.75);
}

.headWrapper > .head > .info > .subscribe.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

.headWrapper > .head > .info > .subscribe.active:hover {
    background-color: rgba(255, 51, 51, 0.8);
}

.headWrapper > .head > .info > .subscribe.active > img {
    filter: invert(100%);
}

.headWrapper > .head > .menus {
    gap: 0 20px;
    display: flex;
}

.headWrapper > .head > .menus > button {
    font-size: 15px;
    padding: 10px 10px;
    
    background-color: transparent;
    border: none;

    cursor: pointer;
    border-bottom: 2px solid transparent;

    color: rgba(255, 255, 255, 0.7);
}

.headWrapper > .head > .menus > button:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

.headWrapper > .head > .menus > button.active {
    color: white;
    border-color: white;
}

.headWrapper > .head > .banner {
    aspect-ratio: 2560/423;
    border-radius: 15px;
}